{{ define "main" }}
<style>
  p {
    line-height: normal;
  }
  li {
    line-height: normal;
  }
  .post-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    padding: 10px;
  }
  .post-item {
    width: calc(25% - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  .post-item:hover {
    transform: translateY(-3px);
  }
  .post-cover {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
  }
  .post-item h2 {
    font-size: 1.0em;
    line-height: normal;
    margin-bottom: 10px;
    color: #222
  }
  .post-item a {
    color: #007bff;
    text-decoration: none;
  }
  .post-item a:hover {
    text-decoration: underline;
  }
  @media (max-width: 1900px) {
    .post-item {
      width: calc(50% - 20px);
    }
  }
  @media (max-width: 480px) {
    .post-item {
      width: 100%;
    }
  }
</style>

{{ .Content }}

<h2>بلاگ</h2>
<p>
برای مطالعه‌ی پست‌های مربوط به موضوعات LLMها و اکوسیستم آن به <a href="/posts">بلاگ گیلاس</a> مراجعه کنید.
</p>
<div class="post-grid">
  {{ range first 8 (where .Site.RegularPages "Section" "posts") }}
  <article class="markdown post-item">
    {{ if .Params.og_image }}
    <img src="{{ .Params.og_image }}" alt="Post Cover Image" class="post-cover" />
    {{ end }}
    <h2>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
    </h2>
    <p>
      {{- .Summary | truncate 100}}
      {{ if .Truncated }}
        <a href="{{ .RelPermalink }}"></a>
      {{ end }}
    </p>
  </article>
  {{ end }}
</div>

{{ end }}
